@import '../assets/styles/varailable.css';

.root-layout {
    height: 100vh;
    display: flex;
}

main {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--primary-color);
    /* margin-left: 230px; */
}